<%- include('layout_start') %>

<div class="container">
<h1 class="display-1">Change Password</h1>
<form action="/changePassword" method="post">
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Username</label>
    <input type="text" id="username" class="form-control" name="username" required/>
  </div>

    <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Old Password</label>
    <input type="password" id="password" class="form-control" name="password" pattern="(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}" required/>
  </div>


  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">New password</label>
    <input type="password" id="newPassword" class="form-control" name="newPassword" pattern="(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}" required/>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Re-enter new password</label>
    <input type="password" id="confirmPassword" class="form-control" pattern="(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}" required/>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Change</button>
</form>
</div>

<script>
var password = document.getElementById("newPassword")
  , confirm_password = document.getElementById("confirmPassword");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

<%- include('layout_end') %>