<%- include('layout_start') %>

<div class="home">
<% if (type === "teacher") { %>
    <h1 class="display-1">Teachers! Welcome back to the Student Academic Record System!</h1>
<% } else if (type === "student") { %>
    <h1 class="display-1">Students! Welcome back to the Student Academic Record System!</h1>
<% } else { %>
    <h1 class="display-1">Administrators! Welcome back to the Student Academic Record System!</h1>
<% } %>

<p class="lead">Click on the sidebar on your left to start!</p>
</div>


<%- include('layout_end') %>

<% if (typeof popupMessage !== 'undefined' && popupMessage === 'CHANGE_PASSWORD_SUCCESS') { %>
<script>
    window.alert("Change password success");
</script>
<% } %>


<style>
    .home {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: aqua;
        overflow: hidden;
        background-image: url('images/bg1.jpg')
    }
</style>
